:root {
    --lavender: #e6ccff;
    --sea:#e6ffe6;
    --thinMint:#E3F7D4;
    --mint:#99ffcc;
    --forest:#004d26;
    --green: #009933;
    --grass: #208000;
    --palepink: #ffe6e6;
    --blush:#ffccff;
    --rose:#ff9999;
    --raspberrySorbet:#d2386c;
    --fire:#ff0000;
    --rusty:#b30000;
    --palegold:#fffbe6;
    --marigold:#ffe4b3;
    --cornsilk: #ffffb3;
    --whitegold:#ffff80;
    --yellow:#ffff1a;
    --illuminating:#f5df4d;
    --gold:#ffd700;
    --orange:#ffa500;
    --pale:#ffffff;
    --sky:#b3daff;
    --cerulean:#9bb7d4;
    --auqa:#00b3b3;
    --royal:#0066ff;
    --ocean: #3377ff;
    --navy: #000080;
    --greenAsh:#a0daa9;
    --thistle:#EFD4F7;
    --lilac:#e6e6ff;
    --lavender:#ccb3ff;
    --orchid:#ccccff;
    --amethystOrchid: #926aa6;
    --violet: #7733ff;
    --purple:#990099;
    --darkpurple: #730099;
    --sand:#F7E9D4;
    --beige:#ffe6cc;
    --mist: #cccccc;
    --fog: #bfbfbf;
    --misty:#999999;
    --slate:#413f3f;
    --smoke:#404040;
    --dark:#000000;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
 
  body {
    background-color: var(--amethystOrchid);
  }

  .start-screen,
  .score-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  button {
    border: none;
    outline: none;
    cursor: pointer;
  }

  #start-button,
  #restart {
    background-color: var(--sand);
    box-shadow: 5px 5px 7px var(--orchid);
    color: var(--mint);
    text-shadow: 2px 2px 2px var(--forest);
    font-size: 1.3em;
    padding: 0.5em 1.8em;
    border-radius: 0.2em;
  }
  #start-button:hover,
  #restart:hover {
    background-color: var(--mint);
    box-shadow: 5px 5px 7px var(--sand);
    color: var(--orchid);
    text-shadow: 2px 2px 2px var(--forest);
    font-size: 1.3em;
    padding: 0.5em 1.8em;
    border-radius: 0.2em;
  }

  #restart {
    margin-top: 0.9em;
  }

  #display-container {
    background-color: var(--sand);
    padding: 3.1em 1.8em;
    width: 80%;
    max-width: 37.5em;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
  }

  .header {
    margin-bottom: 1.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.6em;
    border-bottom: 0.1em solid var(--orchid);
  }

  .timer-div {
    background-color: var(--mint);
    width: 7.5em;
    border-radius: 1.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7em 1.8em;
  }

  .question {
    margin-bottom: 1.25em;
    font-weight: 600;
  }

  .option-div {
    font-size: 0.9em;
    width: 100%;
    padding: 1em;
    margin: 0.3em 0;
    text-align: left;
    outline: none;
    background: transparent;
    border: 1px solid var(--orchid);
    border-radius: 0.3em;
  }
  .option-div:disabled {
    color: #000000;
    cursor: not-allowed;
  }

  #next-button {
    font-size: 1em;
    margin-top: 1.5em;
    background-color: var(--amethystOrchid);
    color: var(--sand);
    box-shadow: 5px 5px 7px var(--orchid);
    text-shadow: 2px 2px 2px var(--forest);
    padding: 0.7em 1.8em;
    border-radius: 0.3em;
    float: right;
  }
  #next-button:hover {
    font-size: 1em;
    margin-top: 1.5em;
    background-color: var(--sand);
    color: var(--amethystOrchid);
    box-shadow: 5px 5px 7px var(--forest);
    text-shadow: 2px 2px 2px var(--orchid);
    padding: 0.7em 1.8em;
    border-radius: 0.3em;
    float: right;
  }

  .hide {
    display: none;
  }

  .incorrect {
    background-color: var(--rusty);
    color: var(--blush);
    border-color: var(--raspberrySorbet);
  }

  .correct {
    background-color: var(--mint);
    color: var(--greenAsh);
    border-color: var(--grass);
  }

  #user-score {
    font-size: 1.5em;
    color: var(--sand);
    text-shadow: 2px 2px 2px var(--mint);
  }